<div
  class="fixed inset-0 flex justify-center items-center flex-col gap-12 bg-white bg-opacity-70 z-50"
>
  <img
    class="h-64"
    src="https://img.freepik.com/free-photo/foreground-businessman-with-loupe_23-2147643070.jpg?t=st=1744039336~exp=1744042936~hmac=0b9deb80c2673f8a6857e0ae81caedd3e35a060aabcc7e8612b3f8e694807f9a&w=740"
  />
  <div class="flex items-center justify-center space-x-2 animate-bounce">
    <div class="flex flex-row gap-7">
      <div class="w-7 h-7 rounded-full bg-primary-400 animate-bounce"></div>
      <div
        class="w-7 h-7 rounded-full bg-primary-400 animate-bounce [animation-delay:-.3s]"
      ></div>
      <div
        class="w-7 h-7 rounded-full bg-primary-400 animate-bounce [animation-delay:-.5s]"
      ></div>
    </div>
  </div>
</div>
